* {
    margin: 0;
    padding: 0;
    font-family: 'Arima', cursive;
    vertical-align: top;
}


nav.menu {
    background-color:rgb(241, 173, 186);
  
}

nav.menu ul{
   list-style: none;  
}

nav.menu ul li {
    display: inline-block;
    margin-left: 80px;
}
nav.menu ul li.menu-item{
margin-top: 40px;
}
nav.menu ul li a {
    text-decoration: none;
    color: #f6f1e8;
}


footer {
    padding: 10px;
    background-color: #f6f1e8;
 color: darkgrey;
 height: 300px;
 text-align: center;

}
footer div nav ul{
    list-style: none;
}
footer div nav ul li a {
    color: darkgrey;
    text-decoration: none;
    
}
footer div {
    width: 200px;
    display: inline-block;
    text-align: left;
    
}
footer div.redes a {
margin-left: 50px;
text-decoration: none;

}
footer div.mapa {
    width: 420px;
    
}
footer div.redes {
    width: 420px;
    
}

/* NOSOTROS */

section.nosotros div{
width: 45%;
height: 300px;
display: inline-block;
text-align: center;
}
section.nosotros div img{
    padding-top: 50px;
}
section.nosotros div.textonosotros {
padding-top: 200px;
color: #444;
}
section.nosotros div p{
   padding-left: 50px;
}

/*GALERIA*/

section ul.galeria li {
    display: inline-block;
    padding: 10px;
}

/*RECETAS*/

section ul.recetas li{
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
}

section ul.recetas li a{
    color: #00ccb1;
    text-decoration: none;
    text-align: center;
    
}
section ul.recetas li a img{
    margin-bottom: 20px;
}

/*CATALOGO*/

section ul{
    margin-bottom: 50px;
}
section ul.catalogo li{
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
    color: #00ccb1;
    text-decoration: none;
    text-align: center;
}


section ul.catalogo li a img{
    margin-bottom: 20px;
}
section ul.catalogo li a{
    color:white;
    text-decoration: none;
    text-align: center;
    background-color: #f2acb9;
    padding-left: 10px;
    padding-right: 10px;
}