* {
    margin: 0;
    padding: 0;
    font-family: 'Arima', cursive;
    vertical-align: top;
}

.list-reset {
    list-style: none;
    padding-left: 0;
}

.menu {
    background-color:rgb(241, 173, 186);
  
}

.header-nav a {
    color: #f6f1e8;
}

.header-nav a:hover {
    color: #f6f1e8;
    text-decoration: underline;
}


/* FOOTER */
.footer-container {
    background-color: #f6f1e8;
    color: darkgrey;
    width: 100%;
    height: 100%;

}

/* NOSOTROS */


/*GALERIA*/

section ul.galeria li {
    display: inline-block;
    padding: 10px;
}

/*RECETAS*/

section ul.recetas li{
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
}

section ul.recetas li a{
    color: #00ccb1;
    text-decoration: none;
    text-align: center;
    
}
section ul.recetas li a img{
    margin-bottom: 20px;
}

/*CATALOGO*/

section ul{
    margin-bottom: 50px;
}
section ul.catalogo li{
    margin-top: 50px;
    display: inline-block;
    margin-left: 20px;
    color: #00ccb1;
    text-decoration: none;
    text-align: center;
}


section ul.catalogo li a img{
    margin-bottom: 20px;
}
section ul.catalogo li a{
    color:white;
    text-decoration: none;
    text-align: center;
    background-color: #f2acb9;
    padding-left: 10px;
    padding-right: 10px;
}